<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Montserrat;
      }
      .pdf-header-container {
        width: 877px;
        height: 1303px;
        border: 1px solid black;
        background: #eff1f3;
      }
    </style>
  </head>
  <body>
    <page size="A4">
    <div class="container">
      <div class="pdf-header-container">
        <img
          style="width: 100%; height: 100%;"
          src="https://production-azent-website-cms-uploads.s3.ap-south-1.amazonaws.com/Cover_3f279a389c.png?updated_at=2023-12-29T11:51:27.640Z"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </page>
  </body>
</html>
